.latest {
    margin: 10px;
}
div.title {
    font-size: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    padding-left: 100px;
}
div.list {
    /* width: 60vw; */
    justify-self: center;
    margin: 10px;
    padding: 5px;
}
@media screen and (max-width:850px) {
    .latest {
        margin: 5px;
    }
    div.title {
        font-size: 28px;
        padding: 20px 15px;
    }
    div.list {
        margin: 6px;
    }
}
@media screen and (max-width:450px) {
    .latest {
        margin: 2px;
    }
    div.list {
        margin: 3px;
    }
}