/* Styling for the transaction page (transaction.js) */

.txn-page-title {
    display: flex;
    flex-direction: column;
    padding: 40px;
    align-items: flex-start;
}
.txn-page-main {
    font-size: 32px;
    padding: 5px;
}
.txn-page-subtitle {
    margin: 5px;
}

.txn-page-details {
    display: flex;
    justify-content: center;
    margin:10px;
}
table.txn-page-transfer-details {
    width:70vw;
}
.txn-page-tr {
    height:40px;
    border-bottom: 1px solid rgba(227, 229, 245, 0.533);
}
.txn-page-tr > td {
    margin:10px;
    text-align: start;
}
.txn-page-link:link, .txn-page-link:visited {
    color: var(--color);
}

@media screen and (max-width:850px) {

}
@media screen and (max-width:450px) {
    
}
@media screen and (max-width: 350px) {

}